body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 70px 0 0 0; /* <-- on ajoute du padding en haut au cause du navbar fixe (70px par exemple) */
}

.welcome-section {
    margin: 280px;
}

.welcome-section h2 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.welcome-section h4 {
    font-family: 'Nunito Sans', sans-serif;
    color: #555;
}
